:root {
--primary: #4CCFD3;
--primary-dark: #33B9BE;
--yellow: #F3C96E;
--bg-soft: #F3FAFA;
--text-dark: #1E2B33;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--bg-soft);
    color: var(--text-dark);
}

.container {
    width: 85%;
    max-width: 1200px;
    margin: auto;
}

.navbar {
    background: white;
    padding: 18px 0;
    border-bottom: 1px solid #E1F0F0;
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 60px;
}

.logo-text {
    font-family: "Fredoka";
    font-size: 26px;
    font-weight: 700;
    color: var(--primary);
}

.logo-tour {
    color: var(--yellow) !important;
}

.nav-menu {
    display: flex;
    gap: 28px;
    margin-right: 20px;
}

.nav-menu a {
    text-decoration: none;
    color: var(--text-dark);
    font-weight: 500;
    transition: 0.2s;
}

.nav-menu a:hover {
    color: var(--yellow);
}

.nav-buttons {
    display: flex;
    gap: 12px;
    align-items: center;
}

.btn-login {
    background: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
    padding: 8px 22px;
    border-radius: 999px;
}

.cta-btn {
    background: var(--primary);
    padding: 10px 22px;
    color: white;
    border-radius: 999px;
    border: none;
}

.hero2 {
    padding: 80px 0;
}

.hero2-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero2-text {
    flex: 1.2;
}

.hero2-text h1 {
    font-size: 46px;
    line-height: 1.3;
    font-family: "Fredoka";
    font-weight: 700;
}

.hero2-text h1 span {
    color: var(--primary-dark);
}

.hero2-text p {
    margin-top: 14px;
    font-size: 17px;
    color: #555;
    max-width: 400px;
}

.hero2-btn {
    display: inline-block;
    background: var(--primary);
    color: white !important;
    padding: 12px 26px;
    border-radius: 999px;
    font-weight: 600;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: 0.2s ease;

    margin-top: 20px;   
}


.hero2-btn:hover {
    background: var(--primary-dark);
}

.hero2-image {
    flex: 1;
    display: flex;
    justify-content: center;
}
.hero2-image img {
    width: 90%;
    max-width: 420px;
    filter: drop-shadow(0px 20px 30px rgba(0,0,0,0.1));
}

.hero-fun {
    color: #4CCFD3 !important;  
    font-weight: 700;
}

.hero-tour {
    color: #F3C96E !important;  
    font-weight: 700;
}

.hero-talk {
    color: #4CCFD3 !important;   
    font-weight: 700;
}

